/**
 * Make sure these look good in light mode and dark mode!
 * If you omit any values, defaults will be used.
 */
$white: #fdfdfd;
$black: #262626;
$accent: #ffbd59;
$secondary: adjust-color($accent, $hue: 90deg);

.roadmap img {
  max-width: 66%;
}